/* .formControl.fatal {
    color: rgb(255, 0, 179)
}; */
.formControl.fatal input,
.formControl.fatal textarea {
    border: 2px solid red;
   
};

.formControl.fatal span{
   color: red;
}
.formSummaryError{
    border: 1px solid red;
    padding: 5px;
    color: rgb(253, 243, 236);
}
