.header {
    grid-area: h;
    background-color: rgb(110, 84, 63);
}

.header img {
    width: 20px;
}

.loginBlock{
    float: right;
    background-color: beige;
    height: 100px;
    width: 100px;
    color: black;
}